<h1> Showing selected book</h1>

<p>
 The book was Successfuly created
</p>

<p>
  Title: <%= @book.title %>
</p>

<p>
  Description: <%= @book.description %>
</p>

<%= link_to "Edit this Book", edit_book_path(@book) %> |
<%= link_to "Back to Books Listing", books_path %>
